* {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.icon {
    background: no-repeat url(data:image/png;base64,%% img/pieces.png base64 %%);
}

.board {
    position: absolute;
    left: 0;
    top: 0;
}

.board .number {
    display: inline-block;
    width: 20px;
    height: 40px;
    text-align: center;
    vertical-align: top;
    line-height: 40px;
}

.board .letter {
    display: inline-block;
    width: 40px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.board .row {
    height: 40px;
}

.board .cell {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
}

.board .row:nth-child(even) .cell:nth-child(even),
.row:nth-child(odd) .cell:nth-child(odd) {
    background: #ffce9e;
}

.board .row:nth-child(even) .cell:nth-child(odd),
.row:nth-child(odd) .cell:nth-child(even) {
    background: #d18b47;
}

.board .piece,
.board .move,
.board .attack,
.board .en-passant,
.board .promotion,
.board .long-castling,
.board .short-castling {
    cursor: pointer;
}

.board .move,
.board .attack,
.board .en-passant,
.board .promotion,
.board .long-castling,
.board .short-castling {
    opacity: 0.5;
}

.board .move:hover,
.board .attack:hover,
.board .en-passant:hover,
.board .promotion:hover,
.board .long-castling:hover,
.board .short-castling:hover {
    opacity: 1;
}

.board .icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
}

.board .white.pawn {
    background-position: 0 0; 
}

.board .white.knight {
    background-position: -40px 0; 
}

.board .white.rook {
    background-position: -80px 0; 
}

.board .white.bishop {
    background-position: -120px 0; 
}

.board .white.queen {
    background-position: -160px 0; 
}

.board .white.king {
    background-position: -200px 0; 
}

.board .black.pawn {
    background-position: 0 -40px; 
}

.board .black.knight {
    background-position: -40px -40px; 
}

.board .black.rook {
    background-position: -80px -40px; 
}

.board .black.bishop {
    background-position: -120px -40px; 
}

.board .black.queen {
    background-position: -160px -40px; 
}

.board .black.king {
    background-position: -200px -40px; 
}

.board .check {
    box-shadow: inset 0 0 20px 5px #b44eca;
}

.board .checkmate {
    box-shadow: inset 0 0 20px 5px #ca0000;
}

.board .stalemate {
    box-shadow: inset 0 0 20px 5px #555555;
}

.board .last-move {
    box-shadow: inset 0 0 20px 0 #4ecac1;
}

.board .chosen {
    box-shadow: inset 0 0 20px 5px #8bca4e;
}

.board .move {
    background-position: 0 -80px;
}

.board .attack {
    background-position: -40px -80px;
}

.board .en-passant,
.board .promotion,
.board .long-castling,
.board .short-castling {
    background-position: -80px -80px;
}

.promotion-dialog {
    position: absolute;
    width: 160px;
    box-shadow: 0 0 20px 0 black;
    margin: 5px;
    z-index: 1;
}

.promotion-dialog .icon {
    position: static;
    float: left;
}

.promotion-dialog .icon:nth-child(odd){
    background-color: #ffce9e;
}

.promotion-dialog .icon:nth-child(even) {
    background-color: #d18b47;
}

.promotion-dialog .icon:hover{
    background-color: white;
}

.menu {
    position: absolute;
    left: 320px;
    top: 320px;
}

.menu-button {
    position: absolute;
    width: 20px;
    height: 20px;
    background: no-repeat  url(data:image/png;base64,%% img/menu.png base64 %%);
    cursor: pointer;
}

.menu-button.active {
    background-position: -20px 0;
}

.menu-list {
    display: none;
    position: absolute;
    right: -5px;
    bottom: -5px;
    background: white;
    box-shadow: 0 0 20px 0 black;
}

.menu-list.visible {
    display: block;
}

.menu-item {
    white-space: nowrap;
    padding: 10px;
    cursor: pointer;
}

.menu-item:hover {
    background: #eeeeee;
}

.menu-item.hidden {
    display: none;
}

.players {
    position: absolute;
    left: 350px;
    top: 0;
}

.players .player {
    display: inline-block;
    width: 40px;
    height: 245px;
    position: relative;
    vertical-align: -200px;
}

.players .player-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
}

.players .white .player-icon {
    background-position: -200px 0;
}

.players .black .player-icon {
    background-position: -200px -40px;
}

.players .player .avatar {
    position: absolute;
    left: 0;
    top: 40px;
    width: 40px;
    height: 40px;
    background: no-repeat center center #eeeeee;
    background-size: 40px;
}

.players .clock {
    display: none;
    position: absolute;
    left: -10px;
    top: 70px;
    width: 20px;
    height: 20px;
    background: no-repeat center center url(data:image/png;base64,%% img/clock.gif base64 %%);
}

.players .turn .clock {
    display: block;
}

.players .taken {
    position: absolute;
    left: 0;
    top: 85px;
    width: 40px;
}

.players .taken .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 120px;
}

.players .taken .white.pawn {
    background-position: 0 0; 
}

.players .taken .white.knight {
    background-position: -20px 0; 
}

.players .taken .white.rook {
    background-position: -40px 0; 
}

.players .taken .white.bishop {
    background-position: -60px 0; 
}

.players .taken .white.queen {
    background-position: -80px 0; 
}

.players .taken .black.pawn {
    background-position: 0 -20px; 
}

.players .taken .black.knight {
    background-position: -20px -20px; 
}

.players .taken .black.rook {
    background-position: -40px -20px; 
}

.players .taken .black.bishop {
    background-position: -60px -20px; 
}

.players .taken .black.queen {
    background-position: -80px -20px; 
}

.hint {
    position: absolute;
    left: 350px;
    top: 270px;
    width: 150px;
}
