* {
    padding: 0;
    margin: 0;
}

.icon {
    width: 100%;
    height: 100%;
    background: no-repeat url(data:image/png;base64,%% img/pieces.png base64 %%);
    position: absolute;
    left: 0;
    top: 0;
}

.board {
    display: inline-block;
    vertical-align: top;
}

.board .number {
    display: inline-block;
    width: 25px;
    height: 50px;
    text-align: center;
    vertical-align: top;
    line-height: 50px;
}

.board .letter {
    display: inline-block;
    width: 50px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}

.board .cell {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
}

.board .row:nth-child(even) .cell:nth-child(even),
.row:nth-child(odd) .cell:nth-child(odd) {
    background: #ffce9e;
}

.board .row:nth-child(even) .cell:nth-child(odd),
.row:nth-child(odd) .cell:nth-child(even) {
    background: #d18b47;
}

.board .piece,
.board .move,
.board .attack,
.board .long-castling,
.board .short-castling {
    cursor: pointer;
}

.board .move,
.board .attack,
.board .long-castling,
.board .short-castling {
    opacity: 0.5;
}

.board .move:hover,
.board .attack:hover,
.board .long-castling:hover,
.board .short-castling:hover {
    opacity: 1;
}

.board .white.pawn {
    background-position: 0 0; 
}

.board .white.knight {
    background-position: -50px 0; 
}

.board .white.rook {
    background-position: -100px 0; 
}

.white.bishop {
    background-position: -150px 0; 
}

.board .white.queen {
    background-position: -200px 0; 
}

.board .white.king {
    background-position: -250px 0; 
}

.board .black.pawn {
    background-position: 0 -50px; 
}

.board .black.knight {
    background-position: -50px -50px; 
}

.board .black.rook {
    background-position: -100px -50px; 
}

.board .black.bishop {
    background-position: -150px -50px; 
}

.board .black.queen {
    background-position: -200px -50px; 
}

.board .black.king {
    background-position: -250px -50px; 
}

.board .chosen {
    box-shadow: inset 0 0 20px 5px #83ca3e;
}

.board .check {
    box-shadow: inset 0 0 20px 5px #653eca;
}

.board .checkmate {
    box-shadow: inset 0 0 20px 5px #ca3e3e;
}

.board .stalemate {
    box-shadow: inset 0 0 20px 5px #555555;
}

.board .move {
    background-position: 0 -100px;
}

.board .attack {
    background-position: -50px -100px;
}

.board .long-castling,
.board .short-castling {
    background-position: -100px -100px;
}

.players {
    display: inline-block;
    margin: 10px 0 0 10px;
}

.players .player {
    display: inline-block;
    width: 50px;
    height: 100px;
    position: relative;
    vertical-align: middle;
    border-bottom: 10px solid white;
}

.players .player .icon {
    width: 50px;
    height: 50px;
}

.players .player.white .icon {
    background-position: -250px 0;
}

.players .player.black .icon {
    background-position: -250px -50px;
}

.players .player .avatar {
    position: absolute;
    left: 0;
    top: 50px;
    width: 50px;
    height: 50px;
    background: no-repeat center center #eeeeee;
    background-size: 50px;
}

.players .turn {
    border-bottom-color: #9acd32;
}
